@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
/*############*/
/*General*/
/*############*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  background-color: var(--clr_primary);
  min-height: 100vh;
  font-family: "Open Sans", sans-serif;
  overflow-x: clip;
  color: var(--clr_black);
}

:root {
  /*colors*/
  --clr_black: rgb(27, 25, 26);
  --clr_primary: rgb(255, 255, 255);
  --clr_secondary: rgb(0, 169, 193);
  --clr_third: rgb(0, 130, 124);
  --clr_accent: rgb(230, 0, 58);
  --clr_secondary_accent: rgb(240, 106, 31);
  /*sizes*/
  --txt_xs: 0.75rem;
  --txt_s: 1rem;
  --txt_m: 2.5rem;
  --txt_xl: 4rem;
  --txt_xxl: 6rem;
  /*shadows*/
  --shdw_primary: -1rem 1rem 60px rgba(0, 0, 0, 0.13);
  --shdw_secondary: 0rem -2rem 2rem rgba(0, 0, 0, 0.084);
}

section {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin: 2rem 0;
}

div {
  max-width: calc(100vw - 24rem);
  margin: 3rem 0;
}

h1 {
  font-size: 4rem;
  color: var(--clr_primary);
  font-weight: 800;
}

h2 {
  font-size: 2rem;
  color: var(--clr_primary);
  font-weight: 600;
}

h3 {
  font-size: 2rem;
  font-weight: 500;
}

p {
  margin-top: 0.7rem;
  font-size: 1.2rem;
  font-weight: 400;
}

img {
  position: relative;
  display: block;
  object-fit: contain;
  width: 100%;
  z-index: 2;
  transition: 2s ease-in-out;
}

.imgShadow {
  margin-top: 0.7rem;
  max-width: 800px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.imgShadow:hover img {
  transform: translateY(-50px);
}

.imgShadow:hover::after {
  width: calc(65% - 10%);
  height: calc(50% - 10%);
}

.imgShadow::after {
  position: absolute;
  content: "";
  bottom: 1rem;

  width: 65%;
  height: 50%;
  background-color: rgb(0, 0, 0);
  filter: blur(2rem);
  opacity: 0.4;
  border-radius: 50%;
  transition: 2s ease-in-out;
}

/*############*/
/*Header*/
/*############*/

header {
  position: relative;
  z-index: 2;
  color: var(--clr_third);
  height: 18rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 5rem;
  overflow-x: clip;
}

header::before {
  position: absolute;
  content: "";
  inset: -2rem;
  rotate: -1deg;
  background-color: var(--clr_third);
  border: 2px solid var(--clr_third);
  z-index: -1;
}

header > h1 {
  margin-bottom: 1rem;
}

header > p {
  color: var(--clr_primary);
  margin: 0;
  opacity: 0.5;
}

/*############*/
/*Sections*/
/*############*/

.gridSplit {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  place-items: center;
  margin: 0;
}

.left,
.right {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0;
}

.sectionQuote {
  position: relative;
  background: var(--clr_secondary);
  color: var(--clr_primary);
  padding-top: 4rem;
  padding-bottom: 6rem;
  overflow-x: clip;
}

.sectionQuote::after {
  content: "";
  position: absolute;
  display: block;
  bottom: -5rem;
  rotate: 2.5deg;
  transform: translateX(-1rem);
  width: 150%;
  height: 8rem;
  background-color: var(--clr_primary);
  z-index: 1;
  box-shadow: var(--shdw_secondary);
  z-index: 0;
}

blockquote {
  text-align: center;
  position: relative;
  width: 65%;
  font-size: 2rem;
  font-style: italic;
  overflow-x: unset;
}

blockquote::before {
  position: absolute;
  left: -95px;
  top: -81px;
  content: open-quote;
  font-size: 15rem;
  font-family: "Franklin Gothic heavy";
  opacity: 0.3;
}

blockquote::after {
  position: absolute;
  content: close-quote;
  right: -25px;
  bottom: -186px;
  font-size: 15rem;
  font-family: "Franklin Gothic heavy";
  opacity: 0.3;
  z-index: 2;
}

.sectionRetro {
  position: relative;
  overflow-x: clip;
}

footer {
  /* background-color: var(--clr_accent); */
  color: var(--clr_black);
  text-align: center;
  padding: 1rem 0;
  font-weight: 200;
  opacity: 0.5;
}

@media only screen and (max-width: 1024px) {
  div {
    max-width: calc(100vw - 6rem);
  }

  .sectionQuote {
    padding-bottom: 8rem;
  }

  p {
    margin-top: 1.2rem;
  }
  .gridSplit {
    grid-template-columns: 1fr;
    /* grid-template-rows: 2fr 1fr; */
    place-items: center;
    justify-content: center;
    align-items: unset;
    margin: 0;
  }

  blockquote {
    font-size: 1.5rem;
  }

  .sectionRetro {
    margin-top: 0;
  }
}

@media only screen and (max-width: 640px) {
  div {
    max-width: calc(100vw - 2rem);
  }

  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.2rem;
  }

  .sectionQuote::after {
    height: 6rem;
  }
}
